In [1]:
import math
import numpy as np
import pandas as pd
from pathlib import Path

In [60]:
datafile = Path('/Users/nico/Documents/GitHub/VST/data/VST-data.csv')
df = pd.read_csv(datafile)

In [61]:
df2 = df[(df['trial_type'] == "html-keyboard-response")&(df['task']=='VST')]["stimulus"]
df2.reset_index(drop=True, inplace=True)

In [63]:
import re
import pandas as pd

def extract_pattern_from_string(string):
    pattern = re.compile(r'>.+?</div>')
    matches = re.findall(pattern, string)
    filtered_matches = [match[1:-6] for match in matches if match.startswith('>') and match.endswith('</div>')]
    return filtered_matches

def extract_patterns_from_strings(strings):
    matched_patterns = []
    for string in strings:
        matched_patterns.append(extract_pattern_from_string(string))
    return matched_patterns

def create_dataframe_from_patterns(matched_patterns):
    data = {}
    for i, patterns in enumerate(matched_patterns):
        for j, pattern in enumerate(patterns):
            column_name = f'Column_{j+1}'
            if column_name not in data:
                data[column_name] = ['']*len(matched_patterns)
            data[column_name][i] = pattern
    return pd.DataFrame(data)

In [64]:
matched_patterns = extract_patterns_from_strings(df2)
df3 = create_dataframe_from_patterns(matched_patterns)
df3

    Column_1   Column_2   Column_3   Column_4
0    unknown    unknown    unknown    txvdnbb
1      jsghp      gwyqg      jsghp      jsghp
2      vague      wrflz      vague      vague
3    smvgxbr    utensil    smvgxbr    smvgxbr
4    unitary    noodles    unitary    unitary
5     gwmwql     gwmwql     zjgdys     gwmwql
6  uncertain  uncertain  cgpfdjfrq  uncertain
7     kfftyn     kfftyn     kfftyn     kettle
8    utensil    utensil    utensil    smvgxbr
9    picture    pvnxbqy    picture    picture

In [65]:
# Define a function to get the index of the different element in each row
def get_different_index(row):
    values = set(row)
    for i, value in enumerate(row):
        if list(row).count(value) == 1:
            return i

In [66]:
# Apply the function to each row and rearrange the elements accordingly
for index, row in df3.iterrows():
    different_index = get_different_index(row)
    if different_index is not None:
        row = row.tolist()
        different_value = row.pop(different_index)
        row.insert(0, different_value)
        df3.iloc[index] = row
df3

    Column_1   Column_2   Column_3   Column_4
0    txvdnbb    unknown    unknown    unknown
1      gwyqg      jsghp      jsghp      jsghp
2      wrflz      vague      vague      vague
3    utensil    smvgxbr    smvgxbr    smvgxbr
4    noodles    unitary    unitary    unitary
5     zjgdys     gwmwql     gwmwql     gwmwql
6  cgpfdjfrq  uncertain  uncertain  uncertain
7     kettle     kfftyn     kfftyn     kfftyn
8    smvgxbr    utensil    utensil    utensil
9    pvnxbqy    picture    picture    picture

In [ ]:
responses = df[(df['trial_type'] == "html-keyboard-response")&(df['task']=='VST')]["correct_response"]
responses.reset_index(drop=True, inplace=True)

In [67]:
datafile2 = Path('/Users/nico/Documents/GitHub/VST/shuffled_stimuli.csv')
stim = pd.read_csv(datafile2)

In [68]:
check = stim["stimuli"]
new_check = check.str.split(',', expand=True)

In [70]:
bo = new_check[0:10]
bo

           0          1          2          3
0    txvdnbb    unknown    unknown    unknown
1      gwyqg      jsghp      jsghp      jsghp
2      wrflz      vague      vague      vague
3    utensil    smvgxbr    smvgxbr    smvgxbr
4    noodles    unitary    unitary    unitary
5     zjgdys     gwmwql     gwmwql     gwmwql
6  cgpfdjfrq  uncertain  uncertain  uncertain
7     kettle     kfftyn     kfftyn     kfftyn
8    smvgxbr    utensil    utensil    utensil
9    pvnxbqy    picture    picture    picture

In [76]:
correct_responses = stim['correct_answer']
answ = correct_responses[0:10]

In [77]:
answ

0    z
1    z
2    z
3    m
4    m
5    z
6    z
7    m
8    z
9    z
Name: correct_answer, dtype: object

In [72]:
responses

0    z
1    z
2    z
3    m
4    m
5    z
6    m
7    m
8    z
9    z
Name: correct_response, dtype: object

In [59]:
# Apply the function to each row and rearrange the elements accordingly
for index, row in data3.iterrows():
    different_index = get_different_index(row)
    if different_index is not None:
        row = row.tolist()
        different_value = row.pop(different_index)
        row.insert(0, different_value)
        data3.iloc[index] = row
data3

     Column_1    Column_2    Column_3    Column_4
0  skyscraper  unofficial  unofficial  unofficial
1    rjuqubbx     jnkwapj     jnkwapj     jnkwapj
2  dishwasher  ztqtpuoefr  ztqtpuoefr  ztqtpuoefr
3  skyscraper  unofficial  unofficial  unofficial
4       pglql       mnklu       mnklu       mnklu
5      ihwwvp      xywjry      xywjry      xywjry
6      ymrqjz      mantel      mantel      mantel
7     lcmnprv     perhaps     perhaps     perhaps
8     utensil     smvgxbr     smvgxbr     smvgxbr
9       tower       vivid       vivid       vivid

In [ ]:
# check if the two dataframes are equal
if df3.equals(bo):
    print("The dataframes are equal")
else:
    print("The dataframes are not equal")