In [1]:
import math
import os
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
pwd = os.getcwd()
datafile = pwd+'/VST-data03.csv'

df = pd.read_csv(datafile)

In [3]:
df2 = df[(df['trial_type'] == "html-keyboard-response")&(df['task']=='VST')]["stimulus"]
df2.reset_index(drop=True, inplace=True)

In [4]:
import re
import pandas as pd

def extract_pattern_from_string(string):
    pattern = re.compile(r'>.+?</div>')
    matches = re.findall(pattern, string)
    filtered_matches = [match[1:-6] for match in matches if match.startswith('>') and match.endswith('</div>')]
    return filtered_matches

def extract_patterns_from_strings(strings):
    matched_patterns = []
    for string in strings:
        matched_patterns.append(extract_pattern_from_string(string))
    return matched_patterns

def create_dataframe_from_patterns(matched_patterns):
    data = {}
    for i, patterns in enumerate(matched_patterns):
        for j, pattern in enumerate(patterns):
            column_name = f'Column_{j+1}'
            if column_name not in data:
                data[column_name] = ['']*len(matched_patterns)
            data[column_name][i] = pattern
    return pd.DataFrame(data)

In [5]:
matched_patterns = extract_patterns_from_strings(df2)
df3 = create_dataframe_from_patterns(matched_patterns)
df3

    Column_1   Column_2   Column_3   Column_4
0    unknown    unknown    unknown    txvdnbb
1      jsghp      gwyqg      jsghp      jsghp
2      vague      vague      vague      wrflz
3    smvgxbr    utensil    smvgxbr    smvgxbr
4    unitary    noodles    unitary    unitary
5     gwmwql     gwmwql     gwmwql     zjgdys
6  uncertain  cgpfdjfrq  uncertain  uncertain
7     kfftyn     kettle     kfftyn     kfftyn
8    utensil    utensil    utensil    smvgxbr
9    picture    pvnxbqy    picture    picture

In [6]:
# Define a function to get the index of the different element in each row
def get_different_index(row):
    values = set(row)
    for i, value in enumerate(row):
        if list(row).count(value) == 1:
            return i

In [7]:
# Apply the function to each row and rearrange the elements accordingly
for index, row in df3.iterrows():
    different_index = get_different_index(row)
    if different_index is not None:
        row = row.tolist()
        different_value = row.pop(different_index)
        row.insert(0, different_value)
        df3.iloc[index] = row
df3

    Column_1   Column_2   Column_3   Column_4
0    txvdnbb    unknown    unknown    unknown
1      gwyqg      jsghp      jsghp      jsghp
2      wrflz      vague      vague      vague
3    utensil    smvgxbr    smvgxbr    smvgxbr
4    noodles    unitary    unitary    unitary
5     zjgdys     gwmwql     gwmwql     gwmwql
6  cgpfdjfrq  uncertain  uncertain  uncertain
7     kettle     kfftyn     kfftyn     kfftyn
8    smvgxbr    utensil    utensil    utensil
9    pvnxbqy    picture    picture    picture

In [8]:
ppt_responses = df[(df['trial_type'] == "html-keyboard-response")&(df['task']=='VST')]["response"]
ppt_responses.reset_index(drop=True, inplace=True)

In [9]:
def get_parent_dir(directory):
    import os
    return os.path.dirname(directory)

current_dirs_parent = get_parent_dir(os.getcwd())
current_dirs_parent

'/Users/kv914393/Documents/GitHub/VST'

In [10]:
datafile2 = current_dirs_parent + '/shuffled_stimuli.csv'
stim = pd.read_csv(datafile2)

In [11]:
check = stim["stimuli"]
new_check = check.str.split(',', expand=True)

In [12]:
bo = new_check[0:10]
bo

           0          1          2          3
0    txvdnbb    unknown    unknown    unknown
1      gwyqg      jsghp      jsghp      jsghp
2      wrflz      vague      vague      vague
3    utensil    smvgxbr    smvgxbr    smvgxbr
4    noodles    unitary    unitary    unitary
5     zjgdys     gwmwql     gwmwql     gwmwql
6  cgpfdjfrq  uncertain  uncertain  uncertain
7     kettle     kfftyn     kfftyn     kfftyn
8    smvgxbr    utensil    utensil    utensil
9    pvnxbqy    picture    picture    picture

In [13]:
correct_responses = stim['correct_answer']
correct_answ = correct_responses[0:10]

In [14]:
correct_answ

0    z
1    z
2    z
3    m
4    m
5    z
6    z
7    m
8    z
9    z
Name: correct_answer, dtype: object

In [15]:
ppt_responses

0    m
1    z
2    z
3    m
4    m
5    z
6    z
7    m
8    z
9    z
Name: response, dtype: object

In [16]:
# initialize performance variable to 0
performance = 0

# compare the contents of each element
if len(ppt_responses) == len(correct_answ):
    for i in range(len(ppt_responses)):
        if ppt_responses[i] == correct_answ[i]:
            # add 1 to performance if the contents match
            performance += 1
else:
    print("Error: array1 and array2 must have the same length.")
performance

9